<a href="https://colab.research.google.com/github/don1504/don/blob/main/0625_for%26while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

과일 목록에 있는 각 과일 인쇄

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

문자열 반복

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

구구단

In [3]:
for i in range(1, 10):
    print("2 x", i, "=", 2 * i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

숫자의 합 구하기

In [4]:
nums = [3, 5, 7]
total = 0
for num in nums:
    total += num
print("합계:", total)

합계: 15

짝수만 출력하기

In [7]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

1~5까지 출력

In [8]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

0부터 9까지 짝수만 출력

In [9]:
i = 0
while i < 10:
    if i % 2 == 0:
        print(i)
    i += 1

0
2
4
6
8

비밀번호 맞출때까지 재출력

In [10]:
password = ""
while password != "1234":
    password = input("비밀번호를 입력하세요: ")
print("접속 성공!")

비밀번호를 입력하세요: 1234
접속 성공!

숫자 누적합 100넘을때까지 더하기

In [11]:
total = 0
i = 1
while total <= 100:
    total += i
    i += 1
print("총합이 100을 넘었습니다:", total)

총합이 100을 넘었습니다: 105